.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__container .btn {
  display: flex;
  align-items: center;
}

.btn__container .btn i {
  margin-left: 1rem;
}
