/* FOOTER */

#footer {
  background-color: var(--dark-color);
  /* background-color: #000; */
  /* background-color: #354051; */
  /* background-color: #ab7f34; */
  background-color: #000;
  opacity: 0.9;
}

#footer,
#footer p {
  font-family: var(--secondary-font);
  font-weight: 300;
  color: var(--white-color);
}

#footer p {
  font-size: 1.82rem;
  letter-spacing: 0.02rem;
  margin-bottom: 0;
}

#footer a {
  font-weight: 300;
  color: var(--white-color);
}

#footer h3 {
  font-size: 2rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  line-height: 20px;
  /* color: var(--light-color); */
  color: var(--white-color);
  font-weight: 200;
  /* color: var(--light-gray-color); */
  opacity: 0.7;
}

#footer .flex-container:first-child {
  grid-column: 1 / span 3;
  gap: 2rem;
}

#footer .flex-container:first-child > div {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}

#footer .flex-container:first-child > div:first-of-type {
  position: relative;
}

#footer .social-icons {
  display: flex;
}

#footer .social-icons i {
  transition: all 0.2s ease-in-out;
}

#footer .social-icons i:hover {
  transform: scale(0.96);
  background-color: var(--light-color);
  color: var(--secondary-color);
}

#footer .social-icons i {
  padding: 1.2rem;
  background-color: var(--dark-color);
  background-color: #fff;
  /* background-color: #004f32; */
  /* color: var(--white-color);
   */
  /* background-color: var(--primary-color); */
  color: #fff;
  color: var(--dark-color);
  border-radius: 1rem;
  min-width: 4.5rem;
  /* font-size: 1.6rem; */
  text-align: center;
  margin: 0 0.21rem;
}

#footer .flex-container:nth-child(2) {
  grid-column: 1 / span 3;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
}

#footer .flex-container:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#footer .flex-container:nth-child(2) ul li {
  padding: 0.8rem 1rem;
}

#footer .flex-container:nth-child(2) ul li a {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0.51rem;
  color: var(--light-gray-color);
  opacity: 0.6;
  /* font-weight: 100; */
  transition: all 0.2s ease-in-out;
}

#footer .flex-container:nth-child(2) ul li a:hover {
  color: var(--white-color);
  opacity: 1;
}

#footer .flex-container:last-child {
  grid-column: 1 / span 3;
  /* border-top: 0.12rem solid var(--secondary-color); */
  /* border-top: 0.1rem solid #ccc; */
  /* margin-top: 3rem; */
  font-size: 1.4rem;
  justify-content: space-between;
  /* opacity: 0.3; */
  position: relative;
  /* width: 100%; */
  /* background-color: var(--dark-color); */
  /* padding: 0 3rem; */
  /* line-height: 1; */
  /* background-color: var(--primary-color); */
}

#footer .flex-container:last-child::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--light-gray-color);
  /* background-color: var(--primary-color); */
  opacity: 0.3;
  height: 0.1rem;
}
