@media (max-width: 768px) {
  /* NAVBAR */
  .navbar ul {
    display: none;
  }

  /* FOOTER */
  .footer .grid__4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__logo {
    display: none;
  }

  /* HEROS */
  #hero-home {
    overflow: hidden;
    height: 50vh;
  }

  .slide .content {
    height: 100%;
    align-items: center;
    padding-top: 10rem;
  }

  #hero-info,
  #hero__areas,
  #hero__about {
    height: 30vh;
  }
  /* HOME */
  #section__services .grid__4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .section__about {
    min-height: 50vh;
  }
  /* SECTION BTN */
  #section__btn {
    height: 30vh;
  }
}

/* MEDIA: MOBILE */

@media (max-width: 500px) {
  /* HOME */
  #section__services .grid__4 {
    grid-template-columns: repeat(1, 1fr);
  }
  .section__about .grid__container {
    grid-template-columns: 1fr;
  }
  .about__box {
    display: none;
  }

  /* PAGE INFO */
  #section__faq .grid__container {
    grid-template-columns: 1fr;
  }

  /* FOOTER */
  .footer .grid__4 {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .footer__social {
    grid-column: 1 / span 2;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
  .footer .footer__links {
    display: none;
  }
  .footer .footer__info {
    width: 100%;
    grid-column: 1 / span 2;
    text-align: center;
  }

  .footer__logo {
    display: none;
  }

  .footer__copyright .container {
    flex-direction: column;
    text-align: center;
  }
  .footer__copyright .developer__info {
    margin-top: 0;
  }
}
