/* SECTION: PROCESS */
.process__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  height: 25rem;
  width: 25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  background-color: var(--secondary-dark-color);
  color: var(--light-color);
  position: relative;
  background-position: center center;
  z-index: 2;
}

.process__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.64);
  z-index: -11;
  border-radius: var(--border-radius);
}

.process__card.card__01 {
  background-image: url('../images/process/Process-1.jpg');
}
.process__card.card__02 {
  background-image: url('../images/process/Process-2.jpg');
}
.process__card.card__03 {
  background-image: url('../images/process/Process-3.jpg');
}
.process__card.card__04 {
  background-image: url('../images/process/Process-4.jpg');
}
.process__card.card__05 {
  background-image: url('../images/process/Process-5.jpg');
}
.process__card.card__06 {
  background-image: url('../images/process/Process-6.jpg');
}

.card__title {
  font-size: 2rem;
  font-weight: 500;
}

.card__text {
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5;
}

.process__number {
  display: flex;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: var(--border-radius);
  font-weight: bold;
  font-size: 2.5rem;
  background-color: var(--primary-color);
  line-height: 1.7;
}
