.container {
  max-width: var(--max-width);
  overflow: hidden;
  padding: 0 3rem;
  margin: 0 auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* INNER PAGE CONTAINER */
.page-container {
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1.5rem;
  margin: 2rem 0;
}

.page-container > *:first-child {
  grid-row: 1 / span 6;
}

/* BUTTONS */
.btn {
  display: flex;
  justify-content: center;
  padding: 1.2rem 2rem;
  min-width: 20rem;
  cursor: pointer;
  border: none;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  border-radius: 1rem;
  color: var(--light-color);
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  background-color: var(--cont-color);
}

.btn-light {
  background-color: var(--light-color);
  color: var(--secondary-color);
}
.btn-dark {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.btn-cont {
  background-color: var(--cont-color);
  background-color: var(--dark-color);
  background-color: #ab7f34;
  /* background-color: #354051; */
}

.btn-block {
  display: block;
  width: 90%;
  text-align: center;
}

.btn:hover {
  transform: scale(0.98);
  opacity: 0.9;
}

/* PADDING */
.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}
/* BACKGROUNDS */
.primary-bg {
  background-color: var(--primary-color) !important;
}

.secondary-bg {
  background-color: var(--secondary-color) !important;
  color: var(--light-color);
}

.light-bg {
  background-color: var(--light-color);
}

.dark-bg {
  background-color: var(--dark-color) !important;
  color: var(--light-color);
}

/* CARDS */
.card {
  background: var(--white-color);
  padding: 1rem;
}

/* TEXT STYLES */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color) !important;
}
.text-dark {
  color: var(--dark-color) !important;
}
.text-large {
  text-transform: lowercase;
  font-size: 10rem !important;
  font-weight: 700;
  /* background-color: var(--cont-color); */
  opacity: 1;
}
.text-bold {
  text-transform: lowercase;
  font-size: 8rem;
  color: var(--primary-color);
  font-weight: 700;
}

.l-heading {
  font-size: 3rem;
}
